<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Employees</title>
<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
</head>
<body>
	<div class="container mt-5">
			<table class="table table-bordered table-striped">
			
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Dob</th>
						<th>Email</th>						
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					
					<td th:text="${employee.dob}"></td>
					
					<td th:text="${employee.email}"></td>
					</tr>
				</tbody>
				</table>
	<hr>
	<div class="row">
		<div class="col-3 ms-5">
					<a th:href="@{/}" class="btn btn-dark mb-2">Back</a>
		</div>
	</div>
	</div>
	</div>
</body>
</html>